<section class="about-page">
	<div class="textContainer">
		<div class="insidepart">
   		<div class="about-us">
	   		<h3>ABOUT US</h3>
		 		<p>Every year, around 30% of food in the world is lost or wasted. It is harming the environment and economy. Many restaurants have to throw away the leftovers according to the food hygiene standers. On the other hand, there are people on the street who suffer from hunger and are looking for food. <br>
					 Why not make a connection!!
       		</p>
			</div>
	 		<div class="join-us">
	   		  <h3>JOIN US</h3>
		 		<p>How to be a part of ‘justShare'? <br>
        		If your an owner of a restaurant, just click the signup button to prevent food waste.
     			</p> 
				 <br>
				 <br>
		 		<a class="button signup-button" href="/signup">sing up</a>
		 		<p>If you need food or want to stop food waste, just click the view button. See the avalible food in your area.
    			</p>
				<br>
		 		<a class="button signup-button" href="/product">view</a>
	 	   </div> 
		</div>
		<div class="outerpart">
		 <h3> SAY NO TO FOOD WASTE</h3>
	  </div>
	</div>
</section>