<section class="new-page">

<section class="form-container">
  <h2>Add New Product</h2>
  <form action="/product/new" enctype="multipart/form-data" method="POST">
    <label for="name">Food Item</label>
    <input type="text" name="name" id="name">
    <label for="description">Description</label>
    <input type="text" name="description" id="description">
    <label for="">Allergens</label>
    <input type="text" name="allergens" id="allergens">
    <label for="image">Image</label>
    <input type="file" name="image" id="name">

    <button class="form-button" type="submit">List new product</button>
  </form>
</section>
</section>

